{% extends "base.html" %}

{% block content %}
<table class="ui table segment">
    <thead>
    <tr>
        <th class="three wide"><h4 class="ui header">Название</h4></th>
        <th><h4 class="ui header">Комментарии</h4></th>
        <th class="two wide"><h4 class="ui header">Теги</h4></th>
    </tr>
    </thead>
    <tbody>

    {% for project in projects %}
    <tr>
        <td>
            <div class="ui medium header">
                <a href="/projects/{{ project.id }}/">{{ project.name|capfirst }}
                    {% if user.is_authenticated %}
                    {% if project.permission == 'public' %}
                    <i class="teal globe basic icon link" data-content="{{ project.get_permission_display }}" data-variation="small"></i>
                    {% elif project.permission == 'for_users' %}
                    <i class="blue users icon link" data-content="{{ project.get_permission_display }}" data-variation="small"></i>
                    {% elif project.permission == 'for_staff' %}
                    <i class="red key icon link" data-content="{{ project.get_permission_display }}" data-variation="small"></i>
                    {% endif %}
                    {% endif %}
                </a>
                {% if user.is_authenticated %}
                <div class="sub header">
                    {{ project.author.username }}<br />
                    {{ project.date|date:"SHORT_DATE_FORMAT" }}
                </div>
                {% endif %}
            </div>
        </td>
        <td>
            {{ project.comments|removetags:"style script"|safe|truncatewords_html:30 }}
        </td>
        <td>
            <div class="ui small labels">
                {% for tag in project.tags.all %}
                <div class="ui label" style="margin: .25em;">
                    {{ tag }}
                </div>
                {% endfor %}
            </div>
        </td>
    </tr>
    {% empty %}
    <p>Нет доступных проектов.</p>
    {% endfor %}
    </tbody>
</table>


{% if projects.paginator.num_pages > 1 %}
<div class="ui borderless pagination menu">
    {% if projects.has_previous %}
    <a class="item" href="?page={{ projects.previous_page_number }}">
        <i class="left arrow icon"></i> Предыдущая
    </a>
    {% endif %}

    {% for page in pages %}
    <a class="item" href="?page={{ page }}">{{ page }}</a>
    {% endfor %}

    {% if projects.has_next %}
    <a class="item" href="?page={{ projects.next_page_number }}">
        Следующая <i class="icon right arrow"></i>
    </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}