{% extends "base.html" %}

<div class="container">

    {% block content %}
    <div class="ui huge header">
        {{ project.name }}
        {% if user.is_authenticated %}
        {% if project.permission == 'public' %}
        <div class="ui green label">{{ project.get_permission_display }}</div>
        {% elif project.permission == 'for_users' %}
        <div class="ui blue label">{{ project.get_permission_display }}</div>
        {% elif project.permission == 'for_staff' %}
        <div class="ui red label">{{ project.get_permission_display }}</div>
        {% endif %}
        {% endif %}
        <div class="sub header">
            создан {{ project.date|date:"SHORT_DATE_FORMAT" }}
        </div>
    </div>

    {% if project.comments %}
    <div class="ui icon message" id="comments">
        <a class="ui right teal corner label popup-show">
            <i class="info icon"></i>
        </a>
        <a class="ui teal ribbon label popup-show">
            Комментарий к проекту:
        </a>
        <div class="content">
            <p>{{ project.comments|removetags:"style script"|safe|truncatewords_html:500  }}</p>
        </div>
    </div>

    {% if videos %}
    <div class="ui message">
        <a class="ui right teal corner label popup-show">
            <i class="video icon"></i>
        </a>
        <a class="ui teal ribbon label popup-show">
            Видео:
        </a>
        <div class="content">
            {% for video in videos %}
            <div class="ui teal segment">
                <h2>{{ video.name }}</h2>
                <video id="{{ video.name }}" class="video-js vjs-default-skin vjs-big-play-centered" controls
                       preload="auto" width="640" height="360" poster="{% if video.poster %}{{ video.poster }}{% endif %}"
                       data-setup="{}">
                    <source src="{{ video.url }}" type='video/mp4'>

                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div id="comments-popup" class="white-popup mfp-hide">
        <div class="ui teal large ribbon label">
            Комментарий к проекту:
        </div>
        <div class="ui huge center aligned header">
            {{ project.name }}
        </div>
        <div class="ui massive message">
            {{ project.comments|removetags:"style script"|safe }}
        </div>
    </div>

    <div id="video-popup" class="white-popup mfp-hide">
        <div class="ui teal large ribbon label">
            Комментарий к проекту:
        </div>
        <div class="ui huge center aligned header">
            {{ project.name }}
        </div>
        <div class="ui massive message">
            {{ project.comments|removetags:"style script"|safe }}
        </div>
    </div>

    {% endif %}

    {% load comments %}
    <div class="ui message">
        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
        {% endcompress %}
        {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
        {% endcompress %}
        {% render_comment_list for project %}
        {% render_comment_form for project %}
    </div>

    <script>
    $('.popup-show').magnificPopup({
        items: [
        {% if project.comments %}
        {
            src: $('#comments-popup'),
            type: 'inline'
        },
        {% endif %}
        {% if videos %}
        {
            src: $('#video-popup'),
            type: 'inline'
        }
        {% endif %}
        ]
    });
    </script>



    {% endblock %}
</div>