{% extends "base.html" %}

<div class="container">

    {% block content %}
    <h1>{{ project.name }}
        {% for permission in permissions %}
            <div class="ui label">{{ permission }}</div>
        {% endfor %}
    </h1>

    {% if project.comments %}
    <div class="ui small icon message">
        <i class="info icon"></i>
        <div class="content">
            <div class="header">
                Комментарий к проекту:
            </div>
            <p>{{ project.comments|safe }}</p>
        </div>
    </div>
    {% endif %}


    {% endblock %}

</div>