{% extends 'base.html' %}
{% block content %}
{% if project.author_id == user.id or project in user.projects %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
{% else %}
<div class="ui error message">
    <div class="header">
        Вы не можете совершить это действие!
    </div>
    <ul class="list">
        <li>Запросить прова на проект.</li>
        <li>Обратиться к администратору.</li>
    </ul>
</div>
{% endif %}
{% endblock %}