{% extends 'base.html' %}
{%block content %}
{% if project.author_id == user.id or project in user.projects %}
<div class="ui red segment">
    <h1 class="ui red header">Вы уверены, что хотите удалить проект: </h1>
    <div class="ui stacked segment">
        <h3 class="ui red header">{{ project.name }}?</h3>
    </div>

    <form action="/projects/{{ project.id }}/delete/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="ui teal button">
            <a href="../">
                Не удалять
            </a>
        </div>
        <button class="ui button" type="submit">
            Удалить
        </button>
    </form>
</div>
{% else %}
<div class="ui error message">
    <div class="header">
        Вы не можете совершить это действие!
    </div>
    <ul class="list">
        <li>Запросить прова на проект.</li>
        <li>Обратиться к администратору.</li>
    </ul>
</div>
{% endif %}
{% endblock %}