{% extends 'base.html' %}
{%block content %}
{% if project.author_id == user.id or project in user.projects %}
<form action="/projects/{{ project.id }}/delete/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="ui button" type="submit">
        <i class="close red icon"/>
        Удалить
    </button>
</form>
{% else %}

<div class="ui error message">
    <div class="header">
        Кто вы такие? Я вас не звал!
    </div>
    <ul class="list">
        <li>Запросить прова на проект.</li>
        <li>Обратиться к администратору.</li>
    </ul>
</div>
{% endif %}

{% endblock %}