{% extends "base.html" %}

<div class="container">

    {% block content %}
    <h1>{{ project.name }}
        {% for permission in permissions %}
        <div class="ui label">{{ permission }}</div>
        {% endfor %}
    </h1>

    {% if project.comments %}
    <div class="ui icon message">
        <div class="ui teal ribbon label">
            Комментарий к проекту:
        </div>
        <div class="content">
            <p>{{ project.comments|removetags:"style script"|safe|truncatewords_html:500  }}</p>
        </div>
    </div>
    {% endif %}


    {% endblock %}

</div>