{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/semantic.min.css" %}" />
    <script src="{% static "javascript/jQuery.min.js" %}" ></script>
                <script src="{% static "javascript/semantic.min.js" %}" ></script>
    <script></script>

    {% block extrahead %}
    {% endblock %}
</head>
<body>
<style>
    body {
    background-image: url("{% static "images/back.png" %}");
    color: #545454;
    }
    div.container {
    max-width: 700px;
    margin: 2em auto;
    }
</style>

<div class="container">
    <h1 class="ui teal medium header">Вход в MOONRAIN:</h1>
    <div class="ui fluid error form segment">

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="ui error message">
            <div class="header">Ошибка!</div>
            <p>Введите корректные электронную почту и пароль.</p>
        </div>
        {% endfor %}
        {% endif %}

        {% if form.errors and not form.non_field_errors %}
        <div class="ui error message">
            <div class="header">Ошибка!</div>
            <p>Что-то пошло не так...</p>
        </div>
        {% endif %}

        <form method="post" action="{% url 'moonrain.accounts.views.register_user' %}">
            {% csrf_token %}

            <div class="ui teal segment">
                <div class="field">
                    <h5>{{ form.username.label_tag }}</h5>
                    {{ form.username }}
                </div>
                <div class="field">
                    <h5>{{ form.email.label_tag }}</h5>
                    {{ form.email }}
                </div>
            </div>

            <div class="ui teal segment">
                <div class="two fields">
                    <div class="field">
                        <h5>{{ form.first_name.label_tag }}</h5>
                        {{ form.first_name }}
                    </div>

                    <div class="field">
                        <h5>{{ form.last_name.label_tag }}</h5>
                        {{ form.last_name }}
                    </div>
                </div>
            </div>

            <div class="ui teal segment">
                <div class="field">
                    <h5>{{ form.department.label_tag }}</h5>
                    {{ form.department }}
                </div>
            </div>

            <div class="ui teal segment">
                <div class="field">
                    <h5>{{ form.password1.label_tag }}</h5>
                    {{ form.password1 }}
                </div>
                <div class="field">
                    <h5>{{ form.password2.label_tag }}</h5>
                    {{ form.password2 }}
                </div>
            </div>

            <button class="ui teal submit button" type="submit" value="register_user">
                <i class="loading icon"></i>
                Зарегистрироваться
            </button>
            <input type="hidden" name="next" value="/" />
        </form>
    </div>
</div>

</body>
</html>