{% extends 'base.html' %}
{% block content %}
<div class="ui message">
    {% for video in videos %}
    <div class="ui teal segment">
        <h2>{{ video.name }} <a href="/videos/{{ video.id }}/" class="ui red label">Кодирование&nbsp;не&nbsp;завершено</a></h2>
        <video id="{{ video.name }}" class="video-js vjs-default-skin vjs-big-play-centered" controls
               preload="auto" width="1200" height="675" poster="{% if video.poster %}{{ video.poster }}{% endif %}"
               data-setup="{}">
            <source src="{{ video.url }}" type='video/mp4'>
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    </div>
    {% endfor %}

    {% if not videos %}
    <br />
    <div class="ui center aligned medium header">
        Ни одного видео ещё не добавлено.
    </div>
    <div class="ui horizontal icon divider">
        <i class="square frown icon"></i>
    </div>
    {% endif %}
</div>

{% if videos.paginator.num_pages > 1 %}
<div class="ui borderless pagination menu">
    {% if videos.has_previous %}
    <a class="item" href="?page={{ videos.previous_page_number }}">
        <i class="left arrow icon"></i> Предыдущая
    </a>
    {% endif %}

    {% for page in pages %}
    <a class="item" href="?page={{ page }}">{{ page }}</a>
    {% endfor %}

    {% if videos.has_next %}
    <a class="item" href="?page={{ videos.next_page_number }}">
        Следующая <i class="icon right arrow"></i>
    </a>
    {% endif %}
</div>
{% endif %}


{% endblock %}