{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="ui error message">
    <div class="header">Error message</div>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <h2 class="ui header">Добавление видео:</h2>
</div>

<form method="post" id="file-upload-form" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ui form segment">
        <div class="ui teal segment">
            <div class="field">
                <h5>{{ form.name.label_tag }}</h5>
                <div class="ui corner labeled input left icon">
                    {{ form.name }}
                    <i class="archive icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <div class="field">
                <h5>{{ form.videofile.label_tag }}</h5>
                {{ form.videofile }}
            </div>

            <div class="ui divider"></div>

            <div class="field">
                <h5>{{ form.comments.label_tag }}</h5>
                <div class="ui left labeled icon input">
                    {{ form.comments }}
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <div class="field">
                <h5>{{ form.lang.label_tag }}</h5>
                <div class="ui input">
                    {{ form.lang }}
                </div>
            </div>

            <div class="field">
                <h5>{{ form.tags.label_tag }}</h5>
                <div class="ui input">
                    {{ form.tags }}
                </div>
            </div>
        </div>
        <div class="ui small teal active progress" id="uploadProgress" data-percent="0" style="display: none;">
            <div class="bar">
                <div class="progress"></div>
            </div>
        </div>
</div>
    </div>

    <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
    <input type="hidden" id="id" name="id" value=""/>
</form>

<button class="ui blue submit button" id='uploadButton' onclick="submitPOST();">
        <i class="archive icon"></i>
        Создать
    </button>

<script>
    function calcProgress(event) {
        if (event.lengthComputable) {
            var progress = Math.round(event.loaded * 100 / event.total);
            $('#uploadProgress>div').css({
                width: progress + '%'
            });
            $('#uploadProgress div.bar div.progress').text(progress + '%');
        }
    };

    function submitPOST() {
        if ($('#uploadButton').hasClass("disabled") == false) {

            $('#uploadButton').addClass("disabled");
            var xhr = new XMLHttpRequest(),
            data = new FormData($('#file-upload-form')[0]);

            xhr.upload.addEventListener("progress", calcProgress, false);
            $('#uploadProgress').css("display", "block");
            xhr.open("POST", "/videos/new/");
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            xhr.send(data);
            window.location.href = '/projects/' + {{ project_id }};
        };
    };

</script>
{% endblock %}