{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="ui error message">
    <div class="header">Error message</div>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <h2 class="ui header">Добавление видео:</h2>
</div>

<form method="post" action="{% url 'moonrain.videos.views.new_video' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ui form segment">
        <div class="ui teal segment">
            <div class="field">
                <h5>{{ form.name.label_tag }}</h5>
                <div class="ui corner labeled input left icon">
                    {{ form.name }}
                    <i class="archive icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <div class="field">
                <h5>{{ form.videofile.label_tag }}</h5>
                {{ form.videofile }}
            </div>

            <div class="ui divider"></div>

            <div class="field">
                <h5>{{ form.comments.label_tag }}</h5>
                <div class="ui left labeled icon input">
                    {{ form.comments }}
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <div class="field">
                <h5>{{ form.lang.label_tag }}</h5>
                <div class="ui input">
                    {{ form.lang }}
                </div>
            </div>

            <div class="field">
                <h5>{{ form.tags.label_tag }}</h5>
                <div class="ui input">
                    {{ form.tags }}
                </div>
            </div>
        </div>
    </div>

    <button class="ui blue submit button" type="submit" value="new_video">
        <i class="archive icon"></i>
        Создать
    </button>
</form>
{% endblock %}